.container-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
h1{
    text-align: center;
  }
.project-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-col {
  flex: 0 0 48%; 
  margin-bottom: 20px; 
  text-align: center;
}

.project-link {
  text-decoration: none;
  color: inherit;
}

.project-card {
  background-color: #1a1a1a;
    border-radius: 8px;
    padding: 20px;
    margin: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
}

.search-bar{
  margin-bottom: 10px;
}

.project-image {
  width: 350px;
  height: 200px; 
  object-fit: cover; 
  border-radius: 8px;
}

.project-title {
  margin: 10px 0;
}

.owner-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.owner-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

.owner-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.owner-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}
