.main {
  display: flex;
  margin: 10px;
  h2{
    text-align: center;
  }
}

.homescreen {
  flex-grow: 1;
  margin-right: 10px;
}

.hero{
  flex-grow: 1;
  position: relative;
  display: inline-block;
  img {
    width: 100%;
  
  border-radius: 50px;
  }
}



.sign-up {
  position: absolute;
  top: 20px; 
  right: 0px;
  padding: 10px 20px;
  background-color: #646cff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  
}

@media (max-width: 768px){

.hero{
  img {
    width: 100%;
    margin: auto;
  border-radius: 50px;
  }
}
 
}